*{
	margin: 0;
	padding: 0;
}

body{
	background: transparent;
	font-family: 'Raleway';
}

main{
	max-width: 100%;
	height:1030px;
	background-color:transparent;
}


footer{
	max-width: 100%;
	height:200px;
	background-color:yellow;
}
